.App {
  text-align: center;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-area {
  grid-area: chat;
}

.logout-area {
  grid-area: logout;
}

.scoreboard-area {
  grid-area: scoreboard;
  align-items: baseline;
  @media (max-width: 800px) {
    display: flex;
    width: auto;
    flex-direction: row !important;
  }
}
.player-area {
  grid-area: player;
}
.dice-area {
  grid-area: dice;
}

.roll-area {
  grid-area: roll;
}
.modal-area {
  grid-area: modal;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas: 
  "scoreboard logout logout"
  "scoreboard player chat"
  "scoreboard dice chat "
    "scoreboard roll chat"
    "scoreboard ...  modal";

    @media (max-width: 800px) {
  grid-template-columns: 3fr 2fr;

      grid-template-areas: 
  "logout logout"
  "scoreboard scoreboard"
  "player chat"
  "dice chat "
    "roll chat"
    "...  modal";
    }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}